:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: black;
  --mainYellow: #ffa400;
}

body{
  font-family: 'PT Serif', serif !important;
  background: var(--mainWhite);
  color: var(--mainDark);
}

.text-title{
  font-family: 'PT Serif', serif !important;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-lightBlue{
  color: var(--lightBlue);
}